<h1>Admin Dashboard</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Total Products</th>
      <th>Total Categories</th>
    </tr>
  </thead> 
  <tbody>
  <tr>
    <td><%= @total_products %></td>
    <td><%= @total_categories %></td>
  </tr>
</tbody> 